In [1]:
import pandas as pd
import numpy as np

In [3]:
# import vehicules 
dfVehi2020 = pd.read_csv('data/vehicules-2020.csv', sep = ';')
dfVehi2019 = pd.read_csv('data/vehicules-2019.csv', sep = ';')


# import usager 
dfUsag2020 = pd.read_csv('data/usagers-2020.csv', sep = ';')
dfUsag2019 = pd.read_csv('data/usagers-2019.csv', sep = ';')


# import lieu 
dfLieux2020 = pd.read_csv('data/lieux-2020.csv', sep = ';')
dfLieux2019 = pd.read_csv('data/lieux-2019.csv', sep = ';')


# import Caractéristique 
dfCara2020 = pd.read_csv('data/caracteristiques-2020.csv', sep = ';')
dfCara2019 = pd.read_csv('data/caracteristiques-2019.csv', sep = ';')

# import Caractéristique 
dfImmat2020 = pd.read_csv('data/2020.csv', sep = ';')
dfImmat2019 = pd.read_csv('data/2019.csv', sep = ';')

In [4]:
# import Caractéristique 
dfCara2020 = pd.read_csv('data/caracteristiques-2020.csv', sep = ';')
dfCara2019 = pd.read_csv('data/caracteristiques-2019.csv', sep = ';')

df = pd.concat([dfCara2020, dfCara2019], axis = 0)
df = df[['long','lat']]
df =df.applymap(lambda x: str(x.replace(',','.'))).astype(float)

In [13]:
HEXAGON_LAYER_DATA = (
        'https://raw.githubusercontent.com/GuillaumeGrrd/Projet_Accident/master/data/map/Map.csv'
    )

df2 = pd.read_csv(HEXAGON_LAYER_DATA,index_col=0)
df2

                lat
long
2.438410  48.705350
2.410000  48.690000
2.475820  48.610670
2.524460  48.697820
2.705971  48.828646
...             ...
5.056120  45.666660
7.726900  48.576900
2.345760  48.771700
2.223759  48.777289
2.175110  48.835124

[106584 rows x 1 columns]

In [16]:
dfCara2018 = pd.read_csv('data/DataSource/caracteristiques-2018.csv', sep = ',', encoding="ISO-8859-1")[['long','lat']].astype(float)/100000
dfCara2018

           long       lat
0       2.94992  50.55737
1       2.93151  50.52936
2       2.91714  50.51243
3       2.89123  50.51974
4       2.90605  50.51607
...         ...       ...
57778  45.21356  12.80217
57779  45.23436  12.78120
57780  45.22409  12.76930
57781  45.22036  12.78622
57782  45.22408  12.78943

[57783 rows x 2 columns]

In [20]:
dfCara2020 = pd.read_csv('data/DataSource/caracteristiques-2020.csv', sep = ';')[['long','lat']]
dfCara2020

            long         lat
0      2,4384100  48,7053500
1      2,4100000  48,6900000
2      2,4758200  48,6106700
3      2,5244600  48,6978200
4      2,7059707  48,8286457
...          ...         ...
47739  5,6003810  43,1865750
47740  7,4818980  43,7799570
47741  6,9337155  43,6571157
47742  6,0641900  44,5406800
47743  6,0740270  44,5614810

[47744 rows x 2 columns]