In [2]:
import pandas as pd
import numpy as np

In [3]:
# import vehicules 
dfVehi2020 = pd.read_csv('data/DataSource/vehicules-2020.csv', sep = ';')
dfVehi2019 = pd.read_csv('data/vehicules-2019.csv', sep = ';')


# import usager 
dfUsag2020 = pd.read_csv('data/usagers-2020.csv', sep = ';')
dfUsag2019 = pd.read_csv('data/usagers-2019.csv', sep = ';')


# import lieu 
dfLieux2020 = pd.read_csv('data/lieux-2020.csv', sep = ';')
dfLieux2019 = pd.read_csv('data/lieux-2019.csv', sep = ';')


# import Caractéristique 
dfCara2020 = pd.read_csv('data/caracteristiques-2020.csv', sep = ';')
dfCara2019 = pd.read_csv('data/caracteristiques-2019.csv', sep = ';')

# import Caractéristique 
dfImmat2020 = pd.read_csv('data/2020.csv', sep = ';')
dfImmat2019 = pd.read_csv('data/2019.csv', sep = ';')

In [7]:
# import Caractéristique 
dfCaratotal = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2020.csv', sep = ';'),
    pd.read_csv('data/DataSource/caracteristiques-2019.csv', sep = ';'),
    pd.read_csv('data/DataSource/caracteristiques-2018.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2017.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2016.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2015.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2014.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2013.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2012.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2011.csv', sep = ',', encoding="ISO-8859-1"),
    pd.read_csv('data/DataSource/caracteristiques-2010.csv', sep = ',', encoding="ISO-8859-1")
])
    
dfCaratotal['an'] = ((dfCaratotal['an']/100)%1*100+2000).astype(int)


dfCaratotal

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,gps
0,202000000001,7,3,2020,16:55,1,91,91657,2,3,1.0,3.0,HENRI BARBUSSE (AVENUE),"48,7053500","2,4384100",NaN
1,202000000002,7,3,2020,08:35,2,91,91657,2,9,7.0,6.0,MOUSSEAUX(CHEMIN),"48,6900000","2,4100000",NaN
2,202000000003,7,3,2020,13:30,1,91,91174,2,2,1.0,3.0,CARNOT(AVENUE),"48,6106700","2,4758200",NaN
3,202000000004,7,3,2020,18:50,5,91,91215,2,1,1.0,6.0,VICTOR HUGO (AVENUE),"48,6978200","2,5244600",NaN
4,202000000005,7,3,2020,11:00,1,77,77181,1,6,1.0,2.0,LAGNY (RUE DE ) - D35,"48,8286457","2,7059707",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69374,201000069382,26,12,2010,1625,1,974,16,2,1,1.0,7.0,"SANS, BELHOMME (CHEMIN)",NaN,NaN,NaN
69375,201000069383,27,12,2010,1220,1,974,16,1,1,1.0,7.0,"21, BASSIN MARTIN (CHEMI",NaN,NaN,NaN
69376,201000069384,29,12,2010,500,3,974,16,1,1,1.0,7.0,RN03,NaN,NaN,NaN
69377,201000069385,30,12,2010,1805,2,974,16,2,1,1.0,3.0,"450, BOEUF(CHEMIN)",NaN,NaN,NaN
69378,201000069386,31,12,2010,2025,3,974,16,2,1,1.0,3.0,"120, HIPPOLYTE PIOT (RU",NaN,NaN,NaN