In [379]:
#import des packages

import pandas as pd
import numpy as np

In [686]:
# Import des années 2020 et 2019

Usagers_19_20 = pd.concat([
    pd.read_csv('data/DataSource/usagers-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/usagers-2019.csv', sep = ';')], 
    axis = 0)
Lieux_19_20 = pd.concat([
    pd.read_csv('data/DataSource/lieux-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/lieux-2019.csv', sep = ';')], 
    axis = 0)
Caract_19_20 = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/caracteristiques-2019.csv', sep = ';')], axis = 0)
Vehic_19_20 = pd.concat([
    pd.read_csv('data/DataSource/vehicules-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/vehicules-2019.csv', sep = ';')], 
    axis = 0)

# Import des années 2018,2017 et 2016

Usagers_16_18 = pd.concat([
    pd.read_csv('data/DataSource/usagers-2016.csv', sep = ','), 
    pd.read_csv('data/DataSource/usagers-2017.csv', sep = ','), 
    pd.read_csv('data/DataSource/usagers-2018.csv', sep = ',')], 
    axis = 0)
Lieux_16_18 = pd.concat([
    pd.read_csv('data/DataSource/lieux_2016.csv', sep = ',', low_memory=False), 
    pd.read_csv('data/DataSource/lieux-2017.csv', sep = ',', low_memory=False), 
    pd.read_csv('data/DataSource/lieux-2018.csv', sep = ',', low_memory=False)],
     axis = 0)
Caract_16_18 = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2016.csv', sep = ',', encoding="ISO-8859-1"),
     pd.read_csv('data/DataSource/caracteristiques-2017.csv', sep = ',', encoding="ISO-8859-1"),
     pd.read_csv('data/DataSource/caracteristiques-2018.csv', sep = ',', encoding="ISO-8859-1")],
     axis = 0)
Vehic_16_18 = pd.concat([
    pd.read_csv('data/DataSource/vehicules-2016.csv', sep = ','), 
    
    pd.read_csv('data/DataSource/vehicules-2017.csv', sep = ','), 
    pd.read_csv('data/DataSource/vehicules-2018.csv', sep = ',')], 
    axis = 0)

In [687]:
# normalisation des données et création d'un dataset unique représentant les données agrégées sur un periode de 5 ans

    # Fichiers Caractéristique
Caract_19_20['hrmn'] = (Caract_19_20['hrmn'].astype(str).str[0:2] + Caract_19_20['hrmn'].astype(str).str[3:5]).astype(int)
Caract_19_20['dep'] = Caract_19_20['dep'].replace(['2A','2B'],[201,202])
Caract_19_20["com"] = (Caract_19_20['dep'].astype(str) + Caract_19_20['com'].astype(str).str[2:]).astype(int)

Caract_16_18 = Caract_16_18.drop(['gps'], axis=1)
Caract_16_18 = Caract_16_18[['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep',
     'com', 'agg','int', 'atm', 'col', 'adr', 'lat', 'long']]

Caract_16_18["an"] = Caract_16_18["an"]+2000
Caract_16_18['dep'] = Caract_16_18['dep'].replace(["2A","2B"],[201,202])
Caract_16_18["com"] = Caract_16_18['dep']* 100 + Caract_16_18["com"]
Caract_16_18['dep'] = (Caract_16_18['dep'].astype(float)/10).astype(int)
Caract_16_18['col'] = (Caract_16_18['col'].fillna(-1)).astype(int)
Caract_16_18['atm'] = (Caract_16_18['atm'].fillna(-1)).astype(int)
        # Concaténation 
Caract_16_20 = pd.concat([Caract_16_18, Caract_19_20], axis = 0)



    # Fichier Lieux
Lieux_19_20 = Lieux_19_20.drop(['vma'], axis=1) 
  
Lieux_16_18 = Lieux_16_18.drop(['env1'], axis=1)
Lieux_16_18 = Lieux_16_18[['Num_Acc', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp', 'prof',
       'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ']]
Lieux_16_18['circ'] = (Lieux_16_18['circ'].fillna(-1)).astype(int)
Lieux_16_18['vosp'] = (Lieux_16_18['vosp'].fillna(-1)).astype(int)
Lieux_16_18['prof'] = (Lieux_16_18['prof'].fillna(-1)).astype(int)
Lieux_16_18['plan'] = (Lieux_16_18['plan'].fillna(-1)).astype(int)
Lieux_16_18['surf'] = (Lieux_16_18['surf'].fillna(-1)).astype(int)
Lieux_16_18['infra'] = (Lieux_16_18['infra'].fillna(-1)).astype(int)
Lieux_16_18['situ'] = (Lieux_16_18['situ'].fillna(-1)).astype(int)
Lieux_16_18['pr'] = Lieux_16_18['pr'].fillna(-1).astype(int)
Lieux_16_18['pr1'] = Lieux_16_18['pr1'].fillna(-1).astype(int)
        #Concaténation 
Lieux_16_20 = pd.concat([Lieux_16_18, Lieux_19_20], axis = 0)



    # Fichier Vehicule
Vehic_19_20 = Vehic_19_20.drop(['occutc','motor', 'id_vehicule' ], axis=1) 

Vehic_16_18 = Vehic_16_18[['Num_Acc', 'num_veh', 'senc', 'catv', 'obs', 'obsm','choc', 'manv']]
Vehic_16_18['senc'] = (Vehic_16_18['senc'].fillna(-1)).astype(int)
Vehic_16_18['obs'] = (Vehic_16_18['obs'].fillna(-1)).astype(int)
Vehic_16_18['obsm'] = (Vehic_16_18['obsm'].fillna(-1)).astype(int)
Vehic_16_18['choc'] = (Vehic_16_18['choc'].fillna(-1)).astype(int)
Vehic_16_18['manv'] = (Vehic_16_18['manv'].fillna(-1)).astype(int)  

        #Concaténation 
Vehic_16_20 = pd.concat([Vehic_16_18, Vehic_19_20], axis = 0)



    # Fichier Usager
Usagers_19_20['secu'] = Usagers_19_20['secu1']
Usagers_19_20 = Usagers_19_20.drop(['id_vehicule', 'secu1','secu2','secu3'  ], axis=1)

Usagers_16_18 = Usagers_16_18[['Num_Acc', 'num_veh', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'locp', 'actp', 'etatp', 'secu']]
Usagers_16_18['etatp'] = (Usagers_16_18['etatp'].fillna(-1)).astype(int)
Usagers_16_18['trajet'] = (Usagers_16_18['trajet'].fillna(-1)).astype(int) 
Usagers_16_18['locp'] = (Usagers_16_18['locp'].fillna(-1)).astype(int)
Usagers_16_18['actp'] = (Usagers_16_18['actp'].fillna(-1)).astype(int)

    # Cas particulier Secu 

    # avant 01/2019 la sécu etait renseignée sur 2 chiffres 1er: présence de l'équipement, 2eme utilisation de l'équipement 
    # apres 01/2019 la secu est sur un seul caractère représentant la présence et l'utilisation de l'équipement.

def ConvSecu(i):
    use = i/10%1*10
    if use == 2:
        x = 0        
    else:
        if use == 3:
            x = 9
        else:
            x = i//10
    return x


Usagers_16_18['secu'] = (Usagers_16_18['secu'].fillna(-1)).astype(int).apply(ConvSecu)

        #Concaténation 
Usagers_16_20 = pd.concat([Usagers_16_18, Usagers_19_20], axis = 0)




# Merge des 4 fichiers 
All_Data = Usagers_16_20.merge( Vehic_16_20, on=['Num_Acc', 'num_veh']).merge(Lieux_16_20, on=['Num_Acc']).merge(Caract_16_20, on=['Num_Acc'])

In [688]:
# traitement des valeurs non renseignée 


#remplacement des données non-renseignée par NaN
All_Data = All_Data.replace([-1],[np.nan])

# Dans la feature "trajet" la valeur 0 = -1 = non renseigné
All_Data["trajet"] = All_Data["trajet"].replace([0],[np.nan])

#classement des features par pourcentage de valeur manquante

def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total NaN Values', 'Percentage of NaN Values'])

missing_data(All_Data)


#supression des features qui ont plus de 6% de NaN + adr qui ne sera pas utile par la suite 

Data_clean= All_Data.drop(["v2","v1","lartpc", "etatp", "larrout", "pr1", "pr",  "trajet", "locp", "voie", "actp", "lat", "long", "adr"], axis=1)


# pour les autres features remplacement des NaN par la valeur la plus représentée 

Data_clean = Data_clean.apply(lambda x: x.fillna(x.value_counts().index[0]))

Data_clean[Data_clean.columns[2:]] = Data_clean[Data_clean.columns[2:]].astype(int)

In [689]:
Data_clean

,Num_Acc,num_veh,place,catu,grav,sexe,an_nais,secu,senc,catv,...,mois,an,hrmn,lum,dep,com,agg,int,atm,col
0,201600000001,B02,1,1,1,2,1983,1,0,7,...,2,2016,1445,1,59,59005,2,1,8,3
1,201600000001,A01,1,1,3,1,2001,2,0,2,...,2,2016,1445,1,59,59005,2,1,8,3
2,201600000002,A01,1,1,3,1,1960,1,0,7,...,3,2016,1800,1,59,59005,2,6,1,6
3,201600000002,A01,2,2,3,1,2000,1,0,7,...,3,2016,1800,1,59,59005,2,6,1,6
4,201600000002,A01,3,2,3,2,1962,1,0,7,...,3,2016,1800,1,59,59005,2,6,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638007,201900058837,C01,1,1,4,2,1988,1,1,7,...,11,2019,750,1,67,67482,1,1,8,4
638008,201900058838,A01,1,1,4,1,1998,1,2,7,...,11,2019,241,4,94,94021,1,1,1,6
638009,201900058839,A01,1,1,3,1,1979,2,2,33,...,11,2019,1520,1,78,78640,1,1,1,7
638010,201900058840,B01,1,1,4,1,1974,1,1,10,...,11,2019,2050,3,92,92047,1,1,1,2
638011,201900058840,A01,1,1,1,1,1971,1,1,10,...,11,2019,2050,3,92,92047,1,1,1,2

In [697]:
# Préparation du dataset pour ML

# Création d'une feature catégorie d'age
Data_clean['catage'] = Data_clean['an'] - Data_clean['an_nais']
Data_clean['catage'] = pd.cut(Data_clean['catage'], bins = [0,18,30,45,60,110], labels =[1,2,3,4,5])

# Création d'une feature WE (semaine = 1 WE = 2)
import calendar

Data_clean["WE"] =  Data_clean["jour"].astype(str) + " " + Data_clean["mois"].astype(str) + " " + Data_clean["an"].astype(str)

def findDay(date):
    day, month, year = (int(i) for i in date.split(' '))   
    dayNumber = calendar.weekday(year, month, day)
    days =[1, 1, 1, 1, 1, 2, 2]
    return (days[dayNumber])

Data_clean["WE"] = Data_clean["WE"].apply(findDay)

#supression des information redondantes ou inutiles 
Data_Model= Data_clean.drop(["com", "hrmn", "senc",'an_nais', 'an', 'jour', 'Num_Acc', 	'num_veh' ], axis=1)
Data_Model

,place,catu,grav,sexe,secu,catv,obs,obsm,choc,manv,...,situ,mois,lum,dep,agg,int,atm,col,catage,WE
0,1,1,1,2,1,7,0,0,1,1,...,1,2,1,59,2,1,8,3,3,1
1,1,1,3,1,2,2,0,0,7,15,...,1,2,1,59,2,1,8,3,1,1
2,1,1,3,1,1,7,6,0,1,1,...,1,3,1,59,2,6,1,6,4,1
3,2,2,3,1,1,7,6,0,1,1,...,1,3,1,59,2,6,1,6,1,1
4,3,2,3,2,1,7,6,0,1,1,...,1,3,1,59,2,6,1,6,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638007,1,1,4,2,1,7,0,2,1,2,...,1,11,1,67,1,1,8,4,3,1
638008,1,1,4,1,1,7,3,0,1,21,...,1,11,4,94,1,1,1,6,2,2
638009,1,1,3,1,2,33,0,0,7,1,...,1,11,1,78,1,1,1,7,3,2
638010,1,1,4,1,1,10,0,2,4,0,...,2,11,3,92,1,1,1,2,3,1
638011,1,1,1,1,1,10,0,2,1,0,...,2,11,3,92,1,1,1,2,4,1

In [698]:
Data_Model["catv"].value_counts()

7     415576
33     45814
10     38333
1      25880
2      21068
30     17905
31     12918
32     11402
34      8744
37      6503
15      4875
14      4750
17      4070
3       3402
38      2978
99      2581
13      2328
50      1704
21      1182
40      1063
36       993
20       978
43       939
80       611
0        384
60       329
16       233
39       204
35       163
42        70
41        32
Name: catv, dtype: int64

In [685]:
Data_Model["obsm"].value_counts()

2    404506
0    121377
1    102075
9      6864
6      2102
4       629
5       459
Name: obsm, dtype: int64

In [510]:
Data_clear["lum"] =Data_clear["lum"].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'method'

In [506]:
Data_clear["trajet"].value_counts()

5.0                                                                                                                                                                                                                                                248073
0.0                                                                                                                                                                                                                                                159306
1.0                                                                                                                                                                                                                                                 86388
4.0                                                                                                                                                                                                                                                 60309
9.0                                                                                                                                                                                                                                                 49925
3.0                                                                                                                                                                                                                                                 18729
2.0                                                                                                                                                                                                                                                 14364
<bound method Series.mode of 0         0.0\n1         9.0\n2         5.0\n3         0.0\n4         0.0\n         ... \n638007    1.0\n638008    9.0\n638009    0.0\n638010    0.0\n638011    0.0\nName: trajet, Length: 638012, dtype: float64>       918
Name: trajet, dtype: int64

In [441]:
missing_data(Data_Mod)

         Total NaN Values  Percentage of NaN Values
Num_Acc                 0                       0.0
an                      0                       0.0
plan                    0                       0.0
surf                    0                       0.0
infra                   0                       0.0
situ                    0                       0.0
jour                    0                       0.0
mois                    0                       0.0
hrmn                    0                       0.0
vosp                    0                       0.0
lum                     0                       0.0
dep                     0                       0.0
com                     0                       0.0
agg                     0                       0.0
int                     0                       0.0
atm                     0                       0.0
prof                    0                       0.0
nbv                     0                       0.0
num_veh                 0                       0.0
secu                    0                       0.0
place                   0                       0.0
catu                    0                       0.0
grav                    0                       0.0
sexe                    0                       0.0
an_nais                 0                       0.0
trajet                  0                       0.0
senc                    0                       0.0
circ                    0                       0.0
catv                    0                       0.0
obs                     0                       0.0
obsm                    0                       0.0
choc                    0                       0.0
manv                    0                       0.0
catr                    0                       0.0
col                     0                       0.0

In [346]:
Usagers_19_20["actp"].value_counts()

0      146181
 -1     72934
3       14088
9        1238
1        1224
5         749
B         687
2         565
4         295
A         204
6          57
7          29
8          21
Name: actp, dtype: int64

In [442]:
print(Data_Mod.isnull().sum())

Num_Acc    0
num_veh    0
place      0
catu       0
grav       0
sexe       0
an_nais    0
trajet     0
secu       0
senc       0
catv       0
obs        0
obsm       0
choc       0
manv       0
catr       0
circ       0
nbv        0
vosp       0
prof       0
plan       0
surf       0
infra      0
situ       0
jour       0
mois       0
an         0
hrmn       0
lum        0
dep        0
com        0
agg        0
int        0
atm        0
col        0
dtype: int64

In [345]:
print(Usagers_19_20.isnull().sum())

Num_Acc    0
num_veh    0
place      0
catu       0
grav       0
sexe       0
an_nais    0
trajet     0
locp       0
actp       0
etatp      0
secu       0
dtype: int64