In [375]:
#import des packages

import pandas as pd
import numpy as np

In [368]:
# Import des années 2020 et 2019

Usagers_19_20 = pd.concat([
    pd.read_csv('data/DataSource/usagers-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/usagers-2019.csv', sep = ';')], 
    axis = 0)
Lieux_19_20 = pd.concat([
    pd.read_csv('data/DataSource/lieux-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/lieux-2019.csv', sep = ';')], 
    axis = 0)
Caract_19_20 = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/caracteristiques-2019.csv', sep = ';')], axis = 0)
Vehic_19_20 = pd.concat([
    pd.read_csv('data/DataSource/vehicules-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/vehicules-2019.csv', sep = ';')], 
    axis = 0)

# Import des années 2018,2017 et 2016

Usagers_16_18 = pd.concat([
    pd.read_csv('data/DataSource/usagers-2016.csv', sep = ','), 
    pd.read_csv('data/DataSource/usagers-2017.csv', sep = ','), 
    pd.read_csv('data/DataSource/usagers-2018.csv', sep = ',')], 
    axis = 0)
Lieux_16_18 = pd.concat([
    pd.read_csv('data/DataSource/lieux_2016.csv', sep = ',', low_memory=False), 
    pd.read_csv('data/DataSource/lieux-2017.csv', sep = ',', low_memory=False), 
    pd.read_csv('data/DataSource/lieux-2018.csv', sep = ',', low_memory=False)],
     axis = 0)
Caract_16_18 = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2016.csv', sep = ',', encoding="ISO-8859-1"),
     pd.read_csv('data/DataSource/caracteristiques-2017.csv', sep = ',', encoding="ISO-8859-1"),
     pd.read_csv('data/DataSource/caracteristiques-2018.csv', sep = ',', encoding="ISO-8859-1")],
     axis = 0)
Vehic_16_18 = pd.concat([
    pd.read_csv('data/DataSource/vehicules-2016.csv', sep = ','), 
    
    pd.read_csv('data/DataSource/vehicules-2017.csv', sep = ','), 
    pd.read_csv('data/DataSource/vehicules-2018.csv', sep = ',')], 
    axis = 0)

In [369]:
# normalisation des données et création d'un dataset unique représentant les données agrégées sur un periode de 5 ans

    # Fichiers Caractéristique

Caract_16_18 = Caract_16_18.drop(['gps'], axis=1)
Caract_16_18 = Caract_16_18[['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep',
     'com', 'agg','int', 'atm', 'col', 'adr', 'lat', 'long']]

Caract_16_18["an"] = Caract_16_18["an"]+2000
Caract_16_18["com"] = Caract_16_18['dep']* 100 + Caract_16_18["com"]
Caract_16_18['dep'] = (Caract_16_18['dep'].astype(float)/10).astype(int)
Caract_16_18['col'] = (Caract_16_18['col'].fillna(-1)).astype(int)
Caract_16_18['atm'] = (Caract_16_18['atm'].fillna(-1)).astype(int)
        # Concaténation 
Caract_16_20 = pd.concat([Caract_16_18, Caract_19_20], axis = 0)



    # Fichier Lieux
Lieux_19_20 = Lieux_19_20.drop(['vma'], axis=1) 
  
Lieux_16_18 = Lieux_16_18.drop(['env1'], axis=1)
Lieux_16_18 = Lieux_16_18[['Num_Acc', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp', 'prof',
       'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ']]
Lieux_16_18['circ'] = (Lieux_16_18['circ'].fillna(-1)).astype(int)
Lieux_16_18['vosp'] = (Lieux_16_18['vosp'].fillna(-1)).astype(int)
Lieux_16_18['prof'] = (Lieux_16_18['prof'].fillna(-1)).astype(int)
Lieux_16_18['plan'] = (Lieux_16_18['plan'].fillna(-1)).astype(int)
Lieux_16_18['surf'] = (Lieux_16_18['surf'].fillna(-1)).astype(int)
Lieux_16_18['infra'] = (Lieux_16_18['infra'].fillna(-1)).astype(int)
Lieux_16_18['situ'] = (Lieux_16_18['situ'].fillna(-1)).astype(int)
Lieux_16_18['pr'] = Lieux_16_18['pr'].fillna(-1).astype(int)
Lieux_16_18['pr1'] = Lieux_16_18['pr1'].fillna(-1).astype(int)
        #Concaténation 
Lieux_16_20 = pd.concat([Lieux_16_18, Lieux_19_20], axis = 0)



    # Fichier Vehicule
Vehic_19_20 = Vehic_19_20.drop(['occutc','motor', 'id_vehicule' ], axis=1) 

Vehic_16_18 = Vehic_16_18[['Num_Acc', 'num_veh', 'senc', 'catv', 'obs', 'obsm','choc', 'manv']]
Vehic_16_18['senc'] = (Vehic_16_18['senc'].fillna(-1)).astype(int)
Vehic_16_18['obs'] = (Vehic_16_18['obs'].fillna(-1)).astype(int)
Vehic_16_18['obsm'] = (Vehic_16_18['obsm'].fillna(-1)).astype(int)
Vehic_16_18['choc'] = (Vehic_16_18['choc'].fillna(-1)).astype(int)
Vehic_16_18['manv'] = (Vehic_16_18['manv'].fillna(-1)).astype(int)  

        #Concaténation 
Vehic_16_20 = pd.concat([Vehic_16_18, Vehic_19_20], axis = 0)



    # Fichier Usager
Usagers_19_20['secu'] = Usagers_19_20['secu1']
Usagers_19_20 = Usagers_19_20.drop(['id_vehicule', 'secu1','secu2','secu3'  ], axis=1)

Usagers_16_18 = Usagers_16_18[['Num_Acc', 'num_veh', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'locp', 'actp', 'etatp', 'secu']]
Usagers_16_18['etatp'] = (Usagers_16_18['etatp'].fillna(-1)).astype(int)
Usagers_16_18['trajet'] = (Usagers_16_18['trajet'].fillna(-1)).astype(int) 
Usagers_16_18['locp'] = (Usagers_16_18['locp'].fillna(-1)).astype(int)
Usagers_16_18['actp'] = (Usagers_16_18['actp'].fillna(-1)).astype(int)

    # Cas particulier Secu 

    # avant 01/2019 la sécu etait renseignée sur 2 chiffres 1er: présence de l'équipement, 2eme utilisation de l'équipement 
    # apres 01/2019 la secu est sur un seul caractère représentant la présence et l'utilisation de l'équipement.

def ConvSecu(i):
    use = i/10%1*10
    if use == 2:
        x = 0        
    else:
        if use == 3:
            x = 9
        else:
            x = i//10
    return x


Usagers_16_18['secu'] = (Usagers_16_18['secu'].fillna(-1)).astype(int).apply(ConvSecu)
        #Concaténation 
Usagers_16_20 = pd.concat([Usagers_16_18, Usagers_19_20], axis = 0)




# Merge des 4 fichiers 
Data = Usagers_16_20.merge( Vehic_16_20, on=['Num_Acc', 'num_veh']).merge(Lieux_16_20, on=['Num_Acc']).merge(Caract_16_20, on=['Num_Acc'])

In [377]:
# traitement des valeurs non renseignée 


#remplacement des données non-renseignée par NaN
Data = Data.replace([-1],[np.nan])

#classement des features par pourcentage de valeur manquante

def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total NaN Values', 'Percentage of NaN Values'])

missing_data(Data)

         Total NaN Values  Percentage of NaN Values
v2                 604465                 94.741948
v1                 441181                 69.149326
lartpc             348137                 54.565902
etatp              274082                 42.958753
larrout            241059                 37.782832
pr1                181698                 28.478775
pr                 180530                 28.295706
locp               155885                 24.432926
voie               117184                 18.367053
actp                54783                  8.586516
lat                 50873                  7.973674
long                50873                  7.973674
place               34593                  5.421998
adr                 26847                  4.207915
secu                22560                  3.535984
circ                14254                  2.234127
infra               12173                  1.907958
situ                10271                  1.609844
vosp                 5119                  0.802336
nbv                  4954                  0.776474
col                  3728                  0.584315
plan                 3418                  0.535727
surf                 2522                  0.395290
prof                 2459                  0.385416
senc                 1080                  0.169276
trajet                918                  0.143884
obs                   392                  0.061441
obsm                  380                  0.059560
choc                  276                  0.043259
manv                  273                  0.042789
an_nais                99                  0.015517
atm                    50                  0.007837
lum                     6                  0.000940
catv                    3                  0.000470
int                     2                  0.000313
catr                    0                  0.000000
grav                    0                  0.000000
com                     0                  0.000000
catu                    0                  0.000000
agg                     0                  0.000000
sexe                    0                  0.000000
dep                     0                  0.000000
hrmn                    0                  0.000000
an                      0                  0.000000
mois                    0                  0.000000
jour                    0                  0.000000
num_veh                 0                  0.000000
Num_Acc                 0                  0.000000

In [373]:
print(Data.isnull().sum())

Num_Acc         0
num_veh         0
place       34593
catu            0
grav            0
sexe            0
an_nais        99
trajet          0
locp            0
actp            0
etatp           0
secu            0
senc            0
catv            0
obs             0
obsm            0
choc            0
manv            0
catr            0
voie       117184
v1         422016
v2         604465
circ            0
nbv          2583
vosp            0
prof            0
pr              0
pr1             0
plan            0
lartpc     348137
larrout    241059
surf            0
infra           0
situ            0
jour            0
mois            0
an              0
hrmn            0
lum             0
dep             0
com             0
agg             0
int             0
atm             0
col             0
adr         26847
lat         50873
long        50873
dtype: int64

In [344]:
display(Usagers_19_20)
display(Usagers_16_18)

,Num_Acc,num_veh,place,catu,grav,sexe,an_nais,trajet,locp,actp,etatp,secu
0,202000000001,B01,1,1,1,1,1983,5,-1,-1,-1,1
1,202000000001,A01,1,1,3,1,1982,5,-1,-1,-1,2
2,202000000002,A01,1,1,1,1,1997,1,-1,-1,-1,8
3,202000000002,A01,10,3,4,1,1967,5,3,3,1,0
4,202000000003,B01,1,1,1,1,1985,0,-1,-1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
132972,201900058837,C01,1,1,4,2,1988,1,-1,-1,-1,1
132973,201900058838,A01,1,1,4,1,1998,9,-1,-1,-1,1
132974,201900058839,A01,1,1,3,1,1979,0,-1,-1,-1,2
132975,201900058840,B01,1,1,4,1,1974,0,-1,0,-1,1
132976,201900058840,A01,1,1,1,1,1971,0,0,0,-1,1

,Num_Acc,num_veh,place,catu,grav,sexe,an_nais,trajet,locp,actp,etatp,secu
0,201600000001,B02,1.0,1,1,2,1983.0,0,0,0,0,1
1,201600000001,A01,1.0,1,3,1,2001.0,9,0,0,0,2
2,201600000002,A01,1.0,1,3,1,1960.0,5,0,0,0,1
3,201600000002,A01,2.0,2,3,1,2000.0,0,0,0,0,1
4,201600000002,A01,3.0,2,3,2,1962.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
130164,201800057781,A01,NaN,3,4,1,1975.0,9,4,3,1,9
130165,201800057782,A01,1.0,1,4,2,1993.0,9,-1,-1,-1,1
130166,201800057782,B01,1.0,1,4,1,1974.0,9,-1,-1,-1,2
130167,201800057783,B01,1.0,1,4,1,1973.0,9,-1,-1,-1,1
130168,201800057783,A01,1.0,1,4,2,1990.0,9,-1,-1,-1,1

In [343]:
display(Usagers_19_20.dtypes)
display(Usagers_16_18.dtypes)

Num_Acc     int64
num_veh    object
place       int64
catu        int64
grav        int64
sexe        int64
an_nais     int64
trajet      int64
locp        int64
actp       object
etatp       int64
secu        int64
dtype: object

Num_Acc      int64
num_veh     object
place      float64
catu         int64
grav         int64
sexe         int64
an_nais    float64
trajet       int32
locp         int32
actp         int32
etatp        int32
secu         int64
dtype: object

In [346]:
Usagers_19_20["actp"].value_counts()

0      146181
 -1     72934
3       14088
9        1238
1        1224
5         749
B         687
2         565
4         295
A         204
6          57
7          29
8          21
Name: actp, dtype: int64

In [338]:
print(Usagers_16_18.isnull().sum())

Num_Acc        0
num_veh        0
place      34593
catu           0
grav           0
sexe           0
an_nais       99
trajet         0
locp           0
actp           0
etatp          0
secu       22439
secu3          0
dtype: int64

In [345]:
print(Usagers_19_20.isnull().sum())

Num_Acc    0
num_veh    0
place      0
catu       0
grav       0
sexe       0
an_nais    0
trajet     0
locp       0
actp       0
etatp      0
secu       0
dtype: int64