In [2]:
#import des packages

import pandas as pd

In [183]:
# Import des années 2020 et 2019

Usagers_19_20 = pd.concat([
    pd.read_csv('data/DataSource/usagers-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/usagers-2019.csv', sep = ';')], 
    axis = 0)
Lieux_19_20 = pd.concat([
    pd.read_csv('data/DataSource/lieux-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/lieux-2019.csv', sep = ';')], 
    axis = 0)
Caract_19_20 = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/caracteristiques-2019.csv', sep = ';')], axis = 0)
Vehic_19_20 = pd.concat([
    pd.read_csv('data/DataSource/vehicules-2020.csv', sep = ';'), 
    pd.read_csv('data/DataSource/vehicules-2019.csv', sep = ';')], 
    axis = 0)

# Import des années 2018,2017 et 2016

Usagers_16_18 = pd.concat([
    pd.read_csv('data/DataSource/usagers-2016.csv', sep = ','), 
    pd.read_csv('data/DataSource/usagers-2017.csv', sep = ','), 
    pd.read_csv('data/DataSource/usagers-2018.csv', sep = ',')], 
    axis = 0)
Lieux_16_18 = pd.concat([
    pd.read_csv('data/DataSource/lieux_2016.csv', sep = ',', low_memory=False), 
    pd.read_csv('data/DataSource/lieux-2017.csv', sep = ',', low_memory=False), 
    pd.read_csv('data/DataSource/lieux-2018.csv', sep = ',', low_memory=False)],
     axis = 0)
Caract_16_18 = pd.concat([
    pd.read_csv('data/DataSource/caracteristiques-2016.csv', sep = ',', encoding="ISO-8859-1"),
     pd.read_csv('data/DataSource/caracteristiques-2017.csv', sep = ',', encoding="ISO-8859-1"),
     pd.read_csv('data/DataSource/caracteristiques-2018.csv', sep = ',', encoding="ISO-8859-1")],
     axis = 0)
Vehic_16_18 = pd.concat([
    pd.read_csv('data/DataSource/vehicules-2016.csv', sep = ','), 
    
    pd.read_csv('data/DataSource/vehicules-2017.csv', sep = ','), 
    pd.read_csv('data/DataSource/vehicules-2018.csv', sep = ',')], 
    axis = 0)

In [170]:
# normalisation des données 
    # Caractéristique
Caract_16_18 = Caract_16_18.drop(['gps'], axis=1)
Caract_16_18 = Caract_16_18[['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg','int', 'atm', 'col', 'adr', 'lat', 'long']]
Caract_16_18["an"] = Caract_16_18["an"]+2000
Caract_16_18["com"] = Caract_16_18['dep']* 100 + Caract_16_17_18["com"]
Caract_16_18['dep'] = (Caract_16_18['dep'].astype(float)/10).astype(int)
Caract_16_18['col'] = (Caract_16_18['col'].fillna(-1)).astype(int)
Caract_16_18['atm'] = (Caract_16_18['atm'].fillna(-1)).astype(int)
        #Concaténation 
Caract_16_20 = pd.concat([Caract_16_18, Caract_19_20], axis = 0)


    # Lieux

In [184]:
Lieux_16_18 = Lieux_16_18.drop(['env1'], axis=1)
Lieux_16_18['circ'] = (Lieux_16_18['circ'].fillna(-1)).astype(int)
Lieux_16_18['nbv'] = Lieux_16_18['nbv'].dropna().astype(int)

C:\Users\girar\AppData\Local\Temp\ipykernel_16436\905378101.py:3: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  Lieux_16_18['nbv'] = Lieux_16_18['nbv'].dropna().astype(int)

ValueError: cannot reindex on an axis with duplicate labels

In [163]:
display(Lieux_19_20)
display(Lieux_16_18)

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202000000001,4,HENRI BARBUSSE (AVENUE),0.0,NaN,2,2,0,1,0,0,1,NaN,-1,1,0,1,50
1,202000000002,4,MOUSSEAUX(CHEMIN),0.0,NaN,2,2,0,1,0,100,3,NaN,-1,1,0,1,50
2,202000000003,4,CARNOT(AVENUE),0.0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,0,1,50
3,202000000004,4,VICTOR HUGO (AVENUE),0.0,NaN,2,2,0,1,1,0,1,NaN,-1,1,0,1,30
4,202000000005,3,35,0.0,NaN,1,1,0,1,4,674,2,NaN,-1,1,3,8,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,43,0.0,NaN,1,3,0,1,15,500,1,NaN,NaN,2,3,1,130
58836,201900058837,1,35,0.0,NaN,1,2,0,1,303,282,1,NaN,NaN,2,0,1,90
58837,201900058838,1,6,0.0,A,3,3,0,1,5,199,1,NaN,NaN,1,0,1,90
58838,201900058839,1,86,0.0,NaN,1,1,0,1,59,99,3,NaN,NaN,1,0,1,50
58839,201900058840,1,13,0.0,NaN,1,3,0,1,6,699,1,NaN,NaN,1,0,2,110

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1
0,201600000001,3,39,NaN,NaN,2,0.0,NaN,NaN,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0
1,201600000002,3,39,NaN,NaN,1,0.0,NaN,NaN,0.0,1.0,2.0,0.0,58.0,1.0,0.0,1.0,0.0
2,201600000003,3,1,NaN,NaN,2,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0
3,201600000004,4,0,NaN,NaN,2,0.0,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
4,201600000005,4,0,NaN,NaN,0,0.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57778,201800057779,4,NaN,NaN,NaN,1,1.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
57779,201800057780,2,2,NaN,NaN,0,2.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
57780,201800057781,2,1,NaN,NaN,2,2.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
57781,201800057782,4,NaN,NaN,NaN,0,2.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,1.0,0.0,3.0,0.0
57782,201800057783,2,2,NaN,NaN,2,2.0,2.0,380.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0

In [180]:
print(Lieux_16_18.isnull().sum())

Num_Acc         0
catr            0
voie        42259
v1         176883
v2         170479
circ            0
nbv          1105
pr          84738
pr1         85293
vosp         1331
prof         1044
plan         1383
lartpc      48491
larrout     47717
surf         1053
infra        4432
situ         4261
dtype: int64

In [181]:
print(Lieux_19_20.isnull().sum())

Num_Acc         0
catr            0
voie        13862
v1          10746
v2          99553
circ            0
nbv             0
vosp            0
prof            0
pr              0
pr1             0
plan            0
lartpc     106224
larrout     58468
surf            0
infra           0
situ            0
vma             0
dtype: int64